<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form accept-charset="UTF-8" action="/events" class="new_event" id="new_event" method="post">
  <div class="form-group">
    <label for="event_title">title</label>
    <input class="form-control" id="event_title" name="event[title]">
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="event_start_date">start_date</label>
      <input class="form-control" id="event_start_date" name="event[start_date]">
    </div>
    <div class="form-group col">
      <label for="event_location">location</label>
      <input class="form-control" id="event_location" name="event[location]">
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="event_duration">duration</label>
      <input class="form-control" id="event_duration" name="event[duration]">
    </div>
    <div class="form-group col">
      <label for="event_price">price</label>
      <select class="form-control" id="event_price" name="event[price]">
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="event_description">description</label>
    <textarea class="form-control" id="event_description" name="event[description]" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>

</form>


<% end %>